*
  box-sizing: border-box
  margin: 0
  padding: 0

a, button, input, span, div
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color: transparent

img
  max-width: 100%

p
  +regRoboto
  font-size: 16px
  line-height: 25px
  color: $main-text
  text-align: justify

a 
  text-decoration: none

input
  &:hover
    outline: 0
    outline-offset: 0
  &:focus
    outline: 0 
    outline-offset: 0 

textarea
  &:hover
    outline: 0
    outline-offset: 0
  &:focus
    outline: 0 
    outline-offset: 0 

.container
  width: 1140px
  margin: auto

.title
  +boldRoboto
  line-height: 24px
  color: $main-text
  &_franklin
    color: #ffffff
    +boldFranklin
    line-height: 24px
    text-transform: uppercase

.subtitle
  +boldRoboto
  text-transform: uppercase

.description
  +regRoboto
  line-height: 24px
  color: $main-text
  text-align: justify

.menu
  &__item
    display: inline-block
    a
      text-transform: uppercase
      line-height: 28px
      +regOpenSans
      text-decoration: none
      &:hover
        color: $main-color
        outline: 0
        outline-offset: 0
        cursor: pointer
        transition: .5s ease-in-out
      &:active 
        outline: 0
        outline-offset: 0
      &:focus
        outline: 0
        outline-offset: 0

.button
  color: #ffffff
  +regRoboto
  font-size: 13px
  font-weight: 500
  line-height: 28px
  text-transform: uppercase
  cursor: pointer
  transition: .5s ease-in-out
  &_green
    width: 184px
    height: 51px
    background-color: $main-color
    border: 1px $main-color solid
    border-radius: 30px
    &:hover
      background-color: lighten($main-color, 10%)
      border-color: lighten($main-color, 10%)
  &:hover 
    outline: 0
    outline-offset: 0
  &:active 
    outline: 0
    outline-offset: 0
  &:focus
    outline: 0
    outline-offset: 0

.line
  display: inline-block
  background-color: #fff
  border: 1px solid #fff
  height: 4px
  margin-bottom: 30px

input.invalid
  border: 2px solid red

textarea.invalid
  border: 2px solid red

.invalid-block
  position: relative


div.invalid
  padding-bottom: 10px
  padding-left: 10px
  color: red
  font-size: 12px
  +regRoboto
  display: block
  top: -20px
  left: 0

.bath-order__form div.invalid
  color: #fff
  font-size: 12px

#username-error
  position: absolute
  top: -20px
  left: 0

#userphone-error
  position: absolute
  top: -20px
  left: 34%

#email-error
  position: absolute
  top: -20px
  left: 68%

#feedbackemail-error
  position: absolute
  top: -20px
  left: 51%

#massage-error
  margin-top: 10px

@media (max-width: 1200px)
  .container
    max-width: 1170px
    width: 90%

@media (max-width: 920px)
  .menu
    &__item
      a
        &:hover
          +regOpenSans
          color: $main-text
          outline: 0
          outline-offset: 0
        &:active 
          outline: 0
          outline-offset: 0
        &:focus
          +regOpenSans
          color: $main-text
          outline: 0
          outline-offset: 0
  #username-error
    top: -20px
    left: 0
  #userphone-error
    top: 26%
    left: 0
  #email-error
    top: 59%
    left: 0
  #feedbackemail-error
    position: absolute
    top: 38%
    left: 0%
  .button
    &:hover
      background-color: $main-color
      border-color: $main-color
  .bath
    &__btn
      font-size: 12px 
      &:hover
        border: 3px solid rgba(0, 0, 0, 0.23)

@media (max-width: 850px)
  .button
    font-size: 10px  

@media (max-width: 768px)
  .container
    max-width: 750px
    width: 90%

@media (max-width: 567px)
  .container
    max-width: 550px
    width: 85%
