.bath-reasons
  padding: 14px 0 55px 0
  border-top: 5px solid rgba($border, 0.5)
  margin-top: 19px
  &-block
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-direction: row
    text-align: center
    flex-wrap: wrap
  &__item
    color: $main-text
    line-height: 22px
    margin: 0
    margin-top: 35px
    &:nth-child(1)
      padding-top: 20px
    &:nth-child(2)
      padding-top: 24px
    &:nth-child(4)
      padding-top: 12px
    &:nth-child(6)
      padding-top: 18px
  &__image
    margin-bottom: 12px
  &__title
    +boldRoboto
    font-size: 17px
    text-transform: uppercase
    margin-bottom: 5px
  &__text
    max-width: 359px
    +regRoboto
    font-size: 13.5px
    line-height: 22px
    text-align: justify
    text-align-last: center

@media (max-width: 1200px)
  .bath-reasons
    &-block
      justify-content: space-around

@media (max-width: 860px)
  .bath-reasons
    padding-bottom: 40px
    &-block
      flex-direction: column
    &__item
      margin: auto
      margin-top: 30px
      line-height: 16px
    &__title
      font-size: 13px
    &__text
      font-size: 11px