.navbar
  &-nomain
    //margin-top: 3px
    padding: 14px 0 18px 0
    background-color: $bg-color
    &__logo
      margin: 0
      padding-top: 5px
    &-block
      //justify-content: space-between
    &-menu
      width: 836px
      margin-bottom: 9px
      margin-left: 38px
      padding-top: 11px
  &-contacts
    //margin-bottom: 10px
    //margin-left: 30px
    color: $contacts-nav
    +regRoboto
    font-size: 12px
    display: flex
    align-items: center
    //margin-left: 57px
    &__rel
      max-width: 33px
      position: relative
      margin-right: 8px
    &__item
      margin-bottom: 5px
    &__icon
      width: 33px
      height: 37px
      &:before
        position: absolute
        top: -22px
        right: 45%
        height: 18px
        content: ""
        border: 1px solid $main-color
      &:after
        position: absolute
        bottom: -17px
        left: 50%
        height: 18px
        content: ""
        border: 1px solid $main-color
    span
      line-height: 17px
    a
      color: $contacts-nav
      text-decoration: none
      display: block
      font-size: 19px
      line-height: 23px
      margin-bottom: 3px
      &:hover
        color: $main-color
        outline: 0
        outline-offset: 0
      &:active 
        outline: 0
        outline-offset: 0
      &:focus
        outline: 0
        outline-offset: 0


@media (max-width: 1200px)
  .navbar
    &-contacts
      display: none
    &-nomain
      &-menu
        width: auto
        margin: auto
