.numbers
  padding: 86px 0 83px 0
  margin-bottom: 44px
  background: url('../img/index/numbers/bathhouse-bg.jpg') 0% 50% no-repeat, $bg-color 100% 50%
  background-size: 53% 100%, 47%
  &-block
    display: flex
    justify-content: flex-start
  &__title
    font-size: 100px
    line-height: 80px
    text-align: right
    margin-bottom: 44px
  &-image
    padding-right: 103px
    flex-basis: 70%
    display: flex
    align-items: center
    justify-content: flex-end
    &__line
      width: 131px
  &-info
    margin-left: 20px
    &__title
      font-size: 30px
      margin-bottom: 15px
    &__description
      font-size: 16px
      max-width: 565px
      margin-bottom: 5px
    &__btn
      margin-top: 22px

@media (max-width: 2000px) 
  .numbers
    background-size: 54.2% 100%, 45.8%
    
@media (max-width: 1762px) 
  .numbers
    background-size: 54.5% 100%, 45.5%

@media (max-width: 1322px) 
  .numbers
    background-size: 56.2% 100%, 4%
      
@media (max-width: 1200px)
  .numbers
    &__title
      font-size: 80px
    &-image
      &__line
        display: none
    &-info
      &__description
        max-width: 450px

@media (max-width: 920px)
  .numbers
    padding: 50px 0 60px 0
    &-info
      margin-left: 0
      &__title
        font-size: 24px
      &__description
        max-width: 350px
        font-size: 14px
    &-image
      padding-right: 80px
      
@media (max-width: 768px)
  .numbers
    padding: 40px 0 50px 0
    margin-bottom: 20px
    &__title
      font-size: 60px
    &-info
      &__title
        font-size: 20px
      &__description
        max-width: 300px
        font-size: 12px
        line-height: 16px
       
@media (max-width: 610px)
  .numbers
    padding: 30px 0 35px 0
    background: $bg-color
    &-image
      display: none
    &-info
      margin-left: 0
      margin: auto
      &__title
        font-size: 22px
      &__description
        max-width: 400px
        font-size: 14px
        line-height: 18px
