.attraction-main
  padding: 45px 0 48px 0
  border-top: 5px solid rgba($border, 0.5)
  margin-top: 16px
  border-bottom: 5px solid rgba($border, 0.5)
  &__title
    text-align: left
    margin-bottom: 37px
  &-item
    flex-basis: 32%
    max-width: 362px
    height: 346px
    margin: 0
    margin-bottom: 28px
    height: 350px
  &-line
    margin-bottom: 17px
    margin-top: 20px

.attraction
  &-other
    padding: 50px 0 35px 0
    margin-top: 0
    border: none
    border-bottom: 5px solid rgba($border, 0.5)
    background-color: $bg-color
    &-item
      background-color: #fff

@media (max-width: 1200px)
  .attraction-main
    &-list
      justify-content: space-around
    &__title
      text-align: center
    &-item
      flex-basis: 50%
      &:last-child
        display: none


@media (max-width: 820px)
  .attraction-main
    &-list
      flex-direction: column
    &-item
      margin: auto
      margin-bottom: 20px
      height: 310px
      
  